/* Cuerpo
============================================== */ 
html 
{
  position: relative;
  min-height: 100%;
}

body 
{
  /* Margen segun el height de el pie de pagina */
  margin-bottom: 40px;
}

body.footerbody 
{
  min-height: 2000px;
}

/* Pie de pagina
============================================== */ 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #275b7c;
  border: 1px solid #0F395E;
}

footer p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    text-align: center;
    font-size: 14px ;
    color: #fff ;
    padding-top: 5px ;
}

/* barra de navegacion 
============================================== */ 
.navbar-static-top 
{
  margin-bottom: 19px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
  color: #f4f4f4; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
  color: white;
  background-color: #246691;
}

.navbar-default 
{
  background-color: #246691;
  border-color: #0F395E;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
    color: #f4f4f4;
    text-decoration: none;
    background-color: #246691; 
}

.nav > li > a:hover,
.nav > li > a:focus 
{
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a 
{
 color: white;
}
.navbar-default .navbar-brand {
    color: #f4f4f4;
}

.navbar-default .navbar-brand:hover {
    color: #f4f4f4;
}

.navbar-brand
{
  font-size: 10pt;  
  margin-left: 30px !important;
}

/* Fondo de login
============================================== */ 

.fundacitebackground
{
  background: url('../images/fundacite01.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:  absolute;
  width: 100%;
  min-height: 100%;
}

/* Iconos de login
============================================== */ 
.bannerheader
{
    margin-left: 10%;
    text-align: center;
    width:  600px;
    height: 50px;
    background:  #fff;
}

.bannerheader_der
{
    margin-left: 20%;
    text-align: center;
    width:  200px;
    height: 50px;
    background:  #fff;
}

/* Panel de login
============================================== */ 
.form-signin 
{
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
	border-radius:  8px;
  border: 1px solid rgba(0,0,0,0.1); 
}
/* formularios
============================================== */ 
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

/* Fondo de login
============================================== */ 

.form-control
{
  resize: none;
}

.center-form
{
    margin-left: 25%;
    margin-right: 25%;
}

.text-center
{
  text-align:  center;
}

.m-5
{
  margin: 5px;
}

/* Graficos reportes
============================================== */ 

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
   stroke: #31474c; 
   -webkit-print-color-adjust: exact; 
}

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area 
{
   fill: #47afc6; 
   -webkit-print-color-adjust: exact; 
}

.ct-label 
{
    font-size: 8.5pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.chart-fixedsize
{
  max-height: 400px; max-width: 550px;
}

/* Reportes
============================================== */ 
.report-bg
{
  background:  #f4f9ff;
  border-radius: 8px;
  border: 2px solid rgba(15, 57, 94,0.09);
  margin: 4px;
}

.report-content
{
  background: #fcfcfc;
  padding: 6px;
  border-radius: 2px;
  border: 2px solid rgba(15, 57, 94,0.1);
  margin: 4px;

}

.report-bg h3
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.report-info-tb-5
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.report-info-t-10
{
   margin-top: 10%;
}

.report-info-t-5
{
  margin-top: 5%;
}

.report-info-t-3
{
  margin-top: 3%;
}

.report-info-t-10 .bg-warning
{
    border-radius: 8px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0,0.1);
}

/* Administrar equipos
============================================== */ 

.centerpanel-body
{
  margin: 10px;
}

.centerpanel-shadow
{
     margin-left:  10%;
     margin-right: 10%;
     padding: 5px;
     background:#fcfdff;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.48);
    border: 1px solid rgba(0, 0, 0,0.1);
}

.centerpanel-header
{
    padding: 6px;
}

.centerpanel-header a 
{
    text-decoration: none;
    font-weight: 600;
    color:  #275b7c;
}

.centerpanel-header a:hover
{
  color: #ce4444;
}

.centerpanel-header label
{
  font-weight: 600;
}
