/* Animacion de carga */

#fountainG{
	position:relative;
	width:138px;
	height:17px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:17px;
	height:17px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.905s;
		-o-animation-duration:0.905s;
		-ms-animation-duration:0.905s;
		-webkit-animation-duration:0.905s;
		-moz-animation-duration:0.905s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:11px;
		-o-border-radius:11px;
		-ms-border-radius:11px;
		-webkit-border-radius:11px;
		-moz-border-radius:11px;
}

#fountainG_1{
	left:0;
	animation-delay:0.366s;
		-o-animation-delay:0.366s;
		-ms-animation-delay:0.366s;
		-webkit-animation-delay:0.366s;
		-moz-animation-delay:0.366s;
}

#fountainG_2{
	left:17px;
	animation-delay:0.4525s;
		-o-animation-delay:0.4525s;
		-ms-animation-delay:0.4525s;
		-webkit-animation-delay:0.4525s;
		-moz-animation-delay:0.4525s;
}

#fountainG_3{
	left:34px;
	animation-delay:0.549s;
		-o-animation-delay:0.549s;
		-ms-animation-delay:0.549s;
		-webkit-animation-delay:0.549s;
		-moz-animation-delay:0.549s;
}

#fountainG_4{
	left:52px;
	animation-delay:0.6355s;
		-o-animation-delay:0.6355s;
		-ms-animation-delay:0.6355s;
		-webkit-animation-delay:0.6355s;
		-moz-animation-delay:0.6355s;
}

#fountainG_5{
	left:69px;
	animation-delay:0.732s;
		-o-animation-delay:0.732s;
		-ms-animation-delay:0.732s;
		-webkit-animation-delay:0.732s;
		-moz-animation-delay:0.732s;
}

#fountainG_6{
	left:86px;
	animation-delay:0.8185s;
		-o-animation-delay:0.8185s;
		-ms-animation-delay:0.8185s;
		-webkit-animation-delay:0.8185s;
		-moz-animation-delay:0.8185s;
}

#fountainG_7{
	left:103px;
	animation-delay:0.905s;
		-o-animation-delay:0.905s;
		-ms-animation-delay:0.905s;
		-webkit-animation-delay:0.905s;
		-moz-animation-delay:0.905s;
}

#fountainG_8{
	left:121px;
	animation-delay:1.0015s;
		-o-animation-delay:1.0015s;
		-ms-animation-delay:1.0015s;
		-webkit-animation-delay:1.0015s;
		-moz-animation-delay:1.0015s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

/* Paneles emergentes de dialogo  */

.ui-widget-overlay {
   background: #000;
   opacity: .30;
   filter: Alpha(Opacity=30);
}

.no-close .ui-dialog-titlebar-close 
{
  display: none;
}

/* Cuerpo
============================================== */ 

.ct-golden-section > svg
{
	position: relative;
}


html 
{
  position: relative;
  min-height: 100%;
}

a:hover 
{
  cursor: pointer;
}

body 
{
  /* Margen segun el height de el pie de pagina */
  margin-bottom: 40px;
}

body.footerbody 
{
  min-height: 2000px;
}

/* Pie de pagina
============================================== */ 
.footer {
  margin-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #275b7c;
  border: 1px solid #0F395E;
}

footer p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    text-align: center;
    font-size: 14px ;
    color: #fff ;
    padding-top: 8px ;
}

/* barra de navegacion 
============================================== */ 
.navbar-static-top 
{
  margin-bottom: 19px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
  color: #f4f4f4; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
  color: white;
  background-color: #246691;
}

.navbar-default 
{
  background-color: #246691;
  border-color: #0F395E;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
    color: #f4f4f4;
    text-decoration: none;
    background-color: #246691; 
}

.nav > li > a:hover,
.nav > li > a:focus 
{
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a 
{
 color: white;
}
.navbar-default .navbar-brand {
    color: #f4f4f4;
}

.navbar-default .navbar-brand:hover {
    color: #f4f4f4;
}

.navbar-brand
{
  font-size: 10pt;  
  margin-left: 30px !important;
}

/* Fondo de login
============================================== */ 

.fundacitebackground
{
  background: url('../images/fundacite01.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:  absolute;
  width: 100%;
  min-height: 100%;
}

/* Iconos de login
============================================== */ 
.bannerheader
{
    margin-left: 10%;
    text-align: center;
    width:  600px;
    height: 50px;
    background:  #fff;
}

.bannerheader_der
{
    margin-left: 20%;
    text-align: center;
    width:  200px;
    height: 50px;
    background:  #fff;
}

/* Panel de login
============================================== */ 
.form-signin 
{
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
	border-radius:  8px;
  border: 1px solid rgba(0,0,0,0.1); 
}
/* formularios
============================================== */ 
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

/* Fondo de login
============================================== */ 

.form-control
{
  resize: none;
}

.center-form
{
    margin-left: 25%;
    margin-right: 25%;
}

.text-center
{
  text-align:  center;
}

.m-5
{
  margin: 5px;
}

/* Graficos reportes
============================================== */ 

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
   stroke: #ce4444; 
   -webkit-print-color-adjust: exact; 
}

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area 
{
   fill: #47afc6; 
   -webkit-print-color-adjust: exact; 
}

.ct-label 
{
    font-size: 8.5pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.chart-fixedsize
{
  max-height: 400px; max-width: 550px;
}

/* Reportes
============================================== */ 

.report-conatiner
{
  padding: 10px;
}

.report-ticket
{
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid rgba(0, 0, 0,0.1);
    padding: 0;
    margin: 5px;
}

.report-ticket-controls
{
  padding: 8px 16px 8px 16px;
}

.report-title
{
  font-weight: 600;
  font-size: 12pt;
}

.report-ticket-separator
{
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #000;
}

.report-ticket-darkbody
{
  background:  #efefef;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.report-header
{
  background: #246691;
  color:  #fcfdff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

.report-header-link
{
  color: #fcfdff;
}

.report-header-link:hover
{
  color: #f4f4f4;
  font-style: italic;
}

.report-body
{
  padding: 5px;
  min-height: 220px;
  overflow: hidden;
}

.report-body p 
{
  word-break: normal;
}

/* Jquery Modal windows */ 

.dialog-container
{
    padding: 10px;
}

/* Administrar equipos
============================================== */ 

.centerpanel-body
{
  margin: 10px;
}

.centerpanel-shadow
{
     margin-left:  10%;
     margin-right: 10%;
     padding: 5px;
     background:#fcfdff;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.48);
    border: 1px solid rgba(0, 0, 0,0.1);
}

.centerpanel-header
{
    padding: 6px;
}

.centerpanel-header a 
{
    text-decoration: none;
    font-weight: 600;
    color:  #275b7c;
}

.centerpanel-header a:hover
{
  color: #ce4444;
}

.fieldalert
{
  color:  #ce4444 ;
  font-weight: bold;
}

.centerpanel-header label
{
  font-weight: 600;
}

/* Claves */ 

.password-container 
{
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0,0.25);
}