
/* Botones */

.BtnNormalCenter
{
    padding: 5px;
    text-align:  center;
}

.BtnNormalCenter input
{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.BtnNormalCenter input:hover
{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  outline: none;
}

.BtnWarningCenter
{
    padding: 5px;
    text-align: center;
}

.BtnWarningCenter input
{
  background: #fc3a3a;
  background-image: -webkit-linear-gradient(top, #fc3a3a, #9e2b2b);
  background-image: -moz-linear-gradient(top, #fc3a3a, #9e2b2b);
  background-image: -ms-linear-gradient(top, #fc3a3a, #9e2b2b);
  background-image: -o-linear-gradient(top, #fc3a3a, #9e2b2b);
  background-image: linear-gradient(to bottom, #fc3a3a, #9e2b2b);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.BtnWarningCenter input:hover
{
  background: #ff9191;
  background-image: -webkit-linear-gradient(top, #ff9191, #e64747);
  background-image: -moz-linear-gradient(top, #ff9191, #e64747);
  background-image: -ms-linear-gradient(top, #ff9191, #e64747);
  background-image: -o-linear-gradient(top, #ff9191, #e64747);
  background-image: linear-gradient(to bottom, #ff9191, #e64747);
  text-decoration: none;
}

/* Cajas de Texto */

.TextboxNormal
{
     border-color: rgba(42,42,42,.34); 
     padding:8px; 
     font-size:15px; 
     text-align:left; 
     border-style:solid; 
     border-radius:18px; 
     border-width:1px; 
     box-shadow: 0px 0px 2px 0px rgba(42,42,42,.34); 
     font-weight:bold; font-style:none; 
     font-family:sans-serif; 	 
}

.TextboxNormal:focus
{
     outline:none;
}

.TextboxAncho
{
    width: 25%;
     border-color: rgba(42,42,42,.34); 
     padding:8px; 
     font-size:15px; 
     text-align:left; 
     border-style:solid; 
     border-radius:18px; 
     border-width:1px; 
     box-shadow: 0px 0px 2px 0px rgba(42,42,42,.34); 
     font-weight:bold; font-style:none; 
     font-family:sans-serif; 	 
}
.TextboxAncho:focus
{
     outline:none;
}

.ComboboxNormal
{
     border-color: rgba(42,42,42,.34); 
     padding:8px; 
     font-size:15px; 
     text-align:left; 
     border-style:solid; 
     border-radius:12px; 
     border-width:1px; 
     box-shadow: 0px 0px 2px 0px rgba(42,42,42,.34); 
     font-weight:bold; font-style:none; 
     font-family:sans-serif; 
}

/* Cuerpo */ 

h1
{
    margin: 10px;
    font-size: 32pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

body
{
    background: #fff;
}

header h1 , header h2
{
    text-align: center;
    font-family: sans-serif;
}

header h1
{
    font-size: 32pt;
}

header h2
{
    font-size: 25pt;
    padding:  5px;
}

.Alert
{
  background: #ff9191;
  background-image: -webkit-linear-gradient(top, #ff9191, #e64747);
  background-image: -moz-linear-gradient(top, #ff9191, #e64747);
  background-image: -ms-linear-gradient(top, #ff9191, #e64747);
  background-image: -o-linear-gradient(top, #ff9191, #e64747);
  background-image: linear-gradient(to bottom, #ff9191, #e64747);
  border-radius: 10px;
  margin-right: 35%;
  margin-left: 35%;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  text-shadow:  0px 0px 11px rgba(255, 255, 300, 1); 
}

.logosindex
{
    margin-top: 2%;
    position: relative;
    display: inline-block;    
}

/* cabecera */

header .indexpage
{
      text-align: center;
}

header .indexpage h1 , header .indexpage h2
{
    margin-top: 15px;
}

/* Barra de navegacion */

.wrapper
{
  background-image: -webkit-linear-gradient(top, #1f628d , #0F395E);
  background-image: -moz-linear-gradient(top, #1f628d , #0F395E );
  background-image: -ms-linear-gradient(top, #1f628d , #0F395E);
  background-image: -o-linear-gradient(top, #1f628d , #0F395E);
  background-image: linear-gradient(to bottom,  #1f628d , #0F395E);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper ul li
{
    float: left;
    padding-left: 5px;
}


.wrapper ul li a:hover
{
  color: #000;
  background: #ff9191;
  background-image: -webkit-linear-gradient(top, #ff9191, #e64747);
  background-image: -moz-linear-gradient(top, #ff9191, #e64747);
  background-image: -ms-linear-gradient(top, #ff9191, #e64747);
  background-image: -o-linear-gradient(top, #ff9191, #e64747);
  background-image: linear-gradient(to bottom, #ff9191, #e64747);

  font-weight: 500;

  text-shadow:  0px 0px 11px rgba(255, 255, 300, 1);

}


.wrapper ul li a
{
display: block;
padding: 8px 6px;
background: #3a7c9e;
background: -moz-linear-gradient(top,  #3a7c9e 0%, #258dc8 100%);
background: -webkit-linear-gradient(top,  #3a7c9e 0%,#258dc8 100%); 
background: linear-gradient(to bottom,  #3a7c9e 0%,#258dc8 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a7c9e', endColorstr='#258dc8',GradientType=0 ); 
    
    font-family: sans-serif;
    font-size: 16pt;
    
    color: #fff;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
   
    margin-left: 2px;
    margin-right: 2px;    
    font-family: sans-serif;
}

.NavUserinfo 
{
    margin-top: 5px;
    float:  right;
}

.NavUserinfo p
{
    padding: 5px;
    font-family: sans-serif;
    color: #fff;
}


/* Login */ 

.LoginPanel
{
    background: #e0e0e0; /* Navegadores viejos */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); 
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); 
    background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); 
   position: relative;
   padding-bottom: 1.5%;
   margin-right: 30%;
   margin-left:  30%;
   margin-top: 4%;
   border : solid 1px #696969 ;
   border-radius: 15px;
   /* Sombra */
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}

.LoginPanelField input
{
    position:  relative;
    margin-left: 2% ;
    margin-right: 2%;
    width: 90%;

    border-color: rgba(42,42,42,.34); 

     padding-top: 4px;
     padding-bottom: 4px;
     padding-left: 3%;
     padding-right: 3%;

     font-size:15px; 
     text-align:left; 
     border-style:solid; 
     border-radius:18px; 
     border-width:1px; 
     box-shadow: 0px 0px 4px 0px rgba(42,42,42,.34); 
     font-weight:bold; font-style:none; 
     font-family:sans-serif; 

}
.LoginPanelField input:focus
{
    outline:  none;
}

.LoginPanelField div
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.LoginPanelField label
{
    position:  relative;
    margin-left: 5%;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.LoginHeader
{
   
   background: #e07072; /* Navegadores viejos */
   background: -webkit-linear-gradient(#e07072 0%, #d35658 100%);
   background: -o-linear-gradient(#e07072 0%, #d35658 100%);
   background: linear-gradient(#e07072 0%, #d35658 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07072', endColorstr='#d35658',GradientType=0 ); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position:  relative;
    height: 30%;
    width : 100%;
    
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.LoginHeader h1 , .LoginHeader h2
{
    color: #fff;
}

.LoginHeader h2
{
    font-size: 20pt;
}

.LoginWarning
{
    text-align:  center;
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    width: 80%;
    padding: 5px;
    color: #595959;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.LoginWarning img
{
    margin-right: 4px;
}

/* Checkpoint */ 

.loadingcheckpoint
{
background: #f7f7f7;
background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%);
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); 
height:  100%;
position: fixed;
width: 100%;
cursor: wait;
}

.loadingcheckpoint div
{
    text-align: center;
    margin-top: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
}

/* Contenido */

.content
{
    background: rgba(255, 255, 255, 0.0);
    margin-top: 10%;
    text-align: center;
    font-size:  12pt;
}

.content input
{
    margin: 5px;
}

.content label
{
    font-family: sans-serif;
    font-weight: bold;
}

/* Pie de pagina */ 

footer
{
  position:  fixed ;
  left:0px;
  bottom:0px;
  height: 30px;
  width:100%;
  background:#0F395E;
  background-image: -webkit-linear-gradient(top, #1f628d , #0F395E);
  background-image: -moz-linear-gradient(top, #1f628d , #0F395E );
  background-image: -ms-linear-gradient(top, #1f628d , #0F395E);
  background-image: -o-linear-gradient(top, #1f628d , #0F395E);
  background-image: linear-gradient(to bottom,  #1f628d , #0F395E);
}

footer p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    text-align: center;
    font-size: 14px ;
    color: #fff ;
    padding-top: 10px ;
}