/*
Paleta de colores: 
primary-1  #EEF4FA 
primary-2  #83909B 
primary-0  #4E5D6A 
primary-3  #232C34 
primary-4  #0B141C 

 Cuerpo */ 

a{
    text-decoration: none;
}

body
{
background: #EEF4FA;
margin-bottom: 40px;
}


 /* Cabezera */
 
header
{
    color: #0B141C ;
    text-align: center;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px; 
}

header h1
{
     padding-top: 3px;
     font-size:  32px;
}

header h2
{
     padding-top: 3px;
     font-size:  25px;
}

/* Barra de Navegacion */ 

.menu ul
{
    text-align: center ;
    list-style-type:  none ;
    margin:  0;
    padding: 0 ;
    overflow: hidden;
    background-color: #4E5D6A ;
}

.menu ul li{
    display: inline-block ;
}

.menu ul li a
{
    font-size: 20px;
    display: block;
    padding:  12px 14px ;
    color:  #fff ;
    text-align:  center ;
    text-decoration: none ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu ul li a:hover
{
    background-color: #232C34 ;  
}

#current{
     background-color: #232C34 ;  
}

/* Panel de Login */ 

.loginpanel 
{
   text-align: center;
   padding-top: 10% ;
}

.loginpanel form
{
   background-color: #4E5D6A ;
   position: relative;
   padding-top: 2%;
   padding-bottom: 2%;
   margin-right: 30%;
   margin-left:  30%;
   border-radius: 30px;
}

.loginpanel form input
{
    margin-top: 4px ;
    margin-bottom: 4px ;
    font-size: 18px;
}

.loginpanel form div
{
    color:  #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;   
}

.loginpanel form h2
{
    color:  #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 30px;
    margin-left: 2px;
    margin-right: 2px; 
    margin-bottom: 10px;  
}

.ingresar
{
    position:  relative;
    width: 80%;
    padding-left: 4px;
    margin-left: 2%;
    margin-right: 5%;
}

.loginpanel form div a
{
    color: #fff;
}

/* seccion de reporte */ 

.reportuser
{
  
   margin-top: 4px ;
   width: 80% ;
   margin-right: 10% ;
   margin-left: 10% ;
   padding: 15px;
   background: #83909B  ;
   border-radius: 5px ;
   outline-width: 1px ;
   outline-color: #232C34 ;
   color: #232C34 ;  
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.reportusercontent p
{
  font-size: 14pt ;   
}

.reportusercontent h1
{
   font-size: 18pt;
}

.reportusercontent
{
  
    width: 70%;
    margin-right: 30% ;
}

.reportusercontent div h1
{
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reportadminmenu
{
    float:  right;
    width: 22% ;
    margin-right: 8% ;    
}

.reportadminmenu ul li
{
    text-align: center;
    display: inline-block;
}

.reportadminmenu ul li a
{
    display: block;
    margin: 10px;
}

.descripcionreporte
{
    font-style: italic;
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reportuser form h2{
    text-align: center;
}

.reportuser form div{
    text-align: center;
    margin : 5px;
}



/* Pie de pagina */ 



footer
{
   position:  fixed ;
   left:0px;
   bottom:0px;
   height: 30px;
   width:100%;
   background:#4E5D6A;
}

footer p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    text-align: center;
    font-size: 14px ;
    color: #fff ;
    padding-top: 10px ;
}

